.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  padding: 20px 80px;
  background-color: #ae1819; 

 
  
}
#navbar a{
  /* list-style: none; */
  text-decoration: none;
  padding: 0 20px;
  position: relative;
  font-size: 1.3rem;
  color: white;
  font-weight: 600;

}
#navbar a:hover{
  background-color: white;
  color: #ae1819;
  border-radius: 20px;
  
}
#mobile {
  display: none;

}
#mobile i{
  color: white;
  align-items: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
#mobile {
  display: block;
}
/* #navbar{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top:65px;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: #2a3239;
  box-shadow:  0 40px 60px rgba(0,0,0,0.2);
  padding: 40px 0 0 10px;
  box-sizing: border-box;
  transition: 1s;

} */
#navbar.active{
  right: 0px;
}
#navbar {
  margin-bottom: 25px;
}
#mobile i{
  font-size: 24px;
  cursor: pointer;
}
/* .family-tours{
  display: flex;
} */
.package-holder{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:20px
}
.card{
  width: 25%;
  /* height: 300px; */
}
.innercards{
  display: flex;
}
/* .containercards{
  display:flex;
  flex-wrap:wrap;
  gap:2px;
  flex-direction:column;
   width:70%;
   padding:20px;
}
.container{
  display: flex;
} */
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

}
.moresuggestscard{
  display:flex;
  justify-content:space-evenly;
  padding:15px;
  flex-wrap: wrap;
  gap: 5px;
  width: 80%;
  align-items: center;
  text-align: justify;
 
 }
 .para{
  font-size: 18px;
 }
 .card{
  text-align:left;
  width:360px;
  /* height:400px; */
  padding:5px;
  border-radius: 4px; 
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);   */
  transition: box-shadow 0.56s ease-in-out; 
}
.card:hover{ 
  cursor: pointer;
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}
.cards{
  width: 220px;
  /* height: 200px; */

  justify-content: space-evenly;
  gap:20px;
}
.cards1{
  width: 220px;
  /* height: 200px; */

  justify-content: space-evenly;
  gap:20px;
  height: 280px;
}
.dynamicflex{
  display:flex; 
  flex-direction: column;
  gap:10px;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: justify;
}
.main{
  width: 100%;
  display: flex;
  justify-content: center;
}










.footer
{
  background-color: black;
  margin-top: 5%;
  margin-bottom: 1px;
  /* margin-left: 20px;
  margin-right: 20px; */
}


.social
{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin:2px;
}

.social a 
{
  font-size: 20px;
  display: inline-block;
  border: 1px solid beige;
  color: whitesmoke;
  width: 25px;
  padding: 10px;
  border-radius: 8px;
  margin:2px;
}

.social a:hover
{
  background-color: antiquewhite;
}

.footer ul 
{
  list-style: none;
  text-align: center;
  padding-bottom: 30px;
}

.footer ul li 
{
  display: inline-block;
  padding: 0px 15px;
}

.footer ul li a 
{
  text-decoration: none;
  color: whitesmoke;
  display: inline-block;
  padding: 10px 20px;
}

.footer ul li a:hover
{
  color: skyblue;
}
.footer{
  width: 100%;
}
.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  color: wheat;
  flex-direction: column;
}
.wrapper {
  max-width: 350px;
  min-height: 500px;
  margin: 80px auto;
  padding: 40px 30px 30px 30px;
  background-color: #ecf0f3;
  border-radius: 15px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
  width: 80px;
  margin: auto;
}

.logo img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #5f5f5f,
      0px 0px 0px 5px #ecf0f3,
      8px 8px 15px #a7aaa7,
      -8px -8px 15px #fff;
}

.wrapper .name {
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  padding-left: 10px;
  color: #555;
}

.wrapper .form-field input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: none;
  font-size: 1.2rem;
  color: #666;
  padding: 10px 15px 10px 10px;
  /* border: 1px solid red; */
}

.wrapper .form-field {
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
  color: #555;
}

.wrapper .btn {
  box-shadow: none;
  width: 100%;
  height: 40px;
  background-color: #03A9F4;
  color: #fff;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #b1b1b1,
      -3px -3px 3px #fff;
  letter-spacing: 1.3px;
}

.wrapper .btn:hover {
  background-color: #039BE5;
}

.wrapper a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #03A9F4;
}

.wrapper a:hover {
  color: #039BE5;
}
.sidebar{
  padding: 25px;
  position: fixed;
  top: 0;
  right: 0px;
  height: 100vh;
  width: 250px;
  z-index: 999;
  /* background-color: rgb(167, 102, 102); */
  justify-content: space-evenly;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  gap:5px;
}
.head1{
  display: flex;
  justify-content: space-evenly;
  gap:25px;
  
}
header{
  margin-bottom: 10px;
  margin-top: 5px;
}
.Navlink{
  color: black;
  text-decoration: none;
  font-size: 18px;
}
.menu-bar{
  display: none;
}
.homeimg{
  width: 100%;
}




@media screen and (min-width:250px) and (max-width:700px){
  *{
    margin: 0;
    padding: 0;
    
  }
  .homeimg{
    height: 300px;
  }
  h1{
    font-size: 45px;
  }
  h2{
    font-size: 35px;
  }
  h3{
    font-size: 30px;
  }
  .para{
    font-size: 28px;
  }
  .moresuggestscard{
    width: 95%;
  }
  body{
    margin: 5px;
  }
  header{
    margin-top: 5px;
    display: flex;
    /* flex-direction: column; */
    padding: 1px;
    gap:2px
  }
  .head1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .img1{
    width: 80%;
  }
  .Navlink{
    color: wheat;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
  }
  .sidebar{
    right: 0px;
    width: 100%;
    height: 100vh;
    color: white;
    transform: translateX(0%);
    transition: 3s ease-in-out;
    background-color: #2a3239;
    /* background-color: #282c34; */

  }
  .menu-bar{
    display: block;
    position: absolute;
    margin-top: 10px;
    right: 10px;
    top:50px;
    font-size: 40px;
  }
  #navbar{
    display: none;
  }
#mobile {
  display: block;
}
/* .cards1{
  width: 300px;
} */

/* #navbar{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top:65px;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: #2a3239;
  box-shadow:  0 40px 60px rgba(0,0,0,0.2);
  padding: 40px 0 0 10px;
  box-sizing: border-box;
  transition: 1s;

} */
#navbar.active{
  right: 0px;
}
#navbar a{
  margin-bottom: 25px;
}
#mobile i{
  font-size: 24px;
  cursor: pointer;
}
.cards{
  width: 100%;
}
.container{
  justify-content: space-evenly;
}
/* .navlinks{
  position:absolute;
  right: 0px;
  height: 92vh;
  top:9vh;
  background-color: rgb(119, 19, 19);
  width: 98%;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  transform: translateX(101%);
  transition: 1s ease-in-out;
  box-sizing: border-box;
  

} */

}
@media(max-width: 380px) {
  .wrapper {
      margin: 30px 20px;
      padding: 40px 15px 15px 15px;
  }
  /* .sidebar{
    left: 100px;
    width: 100%;
    height: 100vh;

  } */
}